    
<html>
    <head>
	<meta crset="utf-8">
	<meta http-equiv="X-UA-Compatible" content=E=edge">
	<meta name="viwport" content="width=device-width, initial-scal=1">
	<!-- load MUI -->
	<link href="//cdn.muicss.com/mui-0.9.39/css/mui.min.css" rel="stylesheet" type="text/cs" />
	<script src="//cdn.muicss.com/mui-.9.39/js/mui.min.js"></script>
      </head>
      <body>
             <div clas="mui-panel">Menu Bar - 
            <button class="mui-btn mui-btn--raised"><a href="/index">Home</a></button>
            <button class="mui-btn mui-btn--raised"><a href="/100days">100 Days</a></button>
	    <button class="mui-btn mui-btn--raised"><a href="/practice">practice</a></button>
            </div>
            <hr>
           {% block content %}{% endblock %}
        </body>
</html>
